extends base.pug
block content
    //- h1 Hello World! I have been seen #{count} times.
    h1 Hello, #{current_user.username}!
    if form
        form(action='' method='post')
            =form.hidden_tag()
            p #{form.post.label} #[br] #{form.post(cols=32, rows=4)} #[br]
            for error in form.post.errors
                span(style='color: red;') #{error}
            p #{form.submit}
    for post in posts
        include _post.pug
    if prev_url
        a(href=prev_url) Newer posts
    if next_url
        a(href=next_url) Older posts
