extends base.pug
{% import 'bootstrap/wtf.html' as wtf %}

block app_content
    h1 Sign In
    .row
        .col-md-4
            {{ wtf.quick_form(form) }}
    br
    p #{_('New User?')}
        a(href=url_for('register')) #{_('Click to Register!')}
    p #{_('Forgot Your Password?')}
        a(href=url_for('reset_password_request')) #{_('Click to Reset It')}


//- form(action='' method='post' novalidate)
//-     =form.hidden_tag()

//-     p #{form.username.label} #[br] #{form.username(size=32)}
//-     each error in form.username.errors
//-         span(style='color: red;') [#{error}]

//-     p #{form.password.label} #[br] #{form.password(size=32)}
//-     each error in form.password.errors
//-         span(style='color: red;') [#{error}]

//-     p #{form.remember_me()} #{form.remember_me.label}
//-     p #{form.submit()}
//-     p New User?
//-         a(href=url_for('register')) Click to Register!
//-     p Forgot Your Password?
//-         a(href=url_for('reset_password_request')) Click to Reset It
