extends base.pug
block content
    h1 Register
    form(action='' method='post')
        p #{form.hidden_tag()}

        p #{form.username.label} #[strong #{form.username(size=32)}]
        each error in form.username.errors
            span(style='color: red;') [#{error}]

        p #{form.email.label} #[strong #{form.email(size=32)}]
        each error in form.email.errors
            span(style='color: red;') [#{error}]

        p #{form.password.label} #[strong #{form.password(size=32)}]
        each error in form.password.errors
            span(style='color: red;') [#{error}]

        p #{form.password2.label} #[strong #{form.password2(size=32)}]
        each error in form.password2.errors
            span(style='color: red;') [#{error}]

        p #{form.submit()}
