extends base.pug
{% import 'bootstrap/wtf.html' as wtf %}


block app_content
    h1 #{_('Reset Your Password')}
    .row
        .col-md-4
            {{ wtf.quick_form(form) }}


//- form(action='' method='post')
//-     =form.hidden_tag()

//-     p #{form.password.label} #[br] #{form.password(size=32)}
//-     for error in form.password.errors
//-         span(style='color: red;') #{error}

//-     p #{form.password2.label} #[br] #{form.password2(size=32)}
//-     for error in form.password2.errors
//-         span(style='color: red;') #{error}

//-     p #{form.submit()}
