extends base.pug
block content
    table
        tr(valign='top')
            td: img(src=user.avatar(128))
            td
                h1 User: #{user.username}
                if user.about_me
                    p= user.about_me
                if user.last_seen
                    p= user.last_seen
                if user == current_user
                    p: a(href=url_for('edit_profile')) Edit your profile
    hr
    for post in posts
        include _post.pug
