extends base.pug
{% import 'bootstrap/wtf.html' as wtf %}
block app_content
    //- h1 Hello World! I have been seen #{count} times.
    h1 {{ _('Hello, %(username)s!', username=current_user.username) }}
    if form
        .row
            .col-md-4
                {{ wtf.quick_form(form) }}
    br
    for post in posts
        include _post.pug

    nav(aria-label='...')
        ul.pager
            li(class={'previous': prev_url, 'hidden': not prev_url})
                a(href=(prev_url or '#')) #[span(aria-hidden='true') &larr;] {{ _('Newer posts') }}
            li(class={'next': next_url, 'hidden': not next_url})
                a(href=(next_url or '#')) {{ _('Older posts') }} #[span(aria-hidden='true') &rarr;]


//- if prev_url
//-     a(href=prev_url) Newer posts
//- if next_url
//-     a(href=next_url) Older posts


//- form(action='' method='post')
//-     =form.hidden_tag()
//-     p #{form.post.label} #[br] #{form.post(cols=32, rows=4)} #[br]
//-     for error in form.post.errors
//-         span(style='color: red;') #{error}
//-     p #{form.submit}
