extends base.pug
block app_content
    table(width='40%')
        tr(valign='center')
            td: img(src=user.avatar(128))
            td
                h1 {{ _('User: ') }} #{user.username}
                if user.about_me
                    p= user.about_me
                if user.last_seen
                    p {{ _('Last seen on: %(moment)s', moment=moment(user.last_seen).format('LLL')) }}
                p {{ _('%(follower_count)s followers, %(followed_count)s following.', follower_count=user.followers.count(), followed_count=user.followed.count()) }}
                if user == current_user
                    p: a(href=url_for('main.edit_profile')) {{ _('Edit your profile') }}
                elif not current_user.is_following(user)
                    form(action=url_for('main.follow', username=user.username), method='post')
                        =form.hidden_tag()
                        =form.submit(value=_('Follow'))
                else
                    form(action=url_for('main.unfollow', username=user.username), method='post')
                        =form.hidden_tag()
                        =form.submit(value=_('Unfollow'))
    br
    for post in posts
        include _post.pug
    if prev_url
        a(href=prev_url) {{ _('Newer posts') }}
    if next_url
        a(href=next_url) {{ _('Older posts') }}

//- p #{_('Last seen on:')} #{moment(user.last_seen).format('LLL')}
//- p #{user.followers.count()} #{_('followers,')} #{user.followed.count()} #{_('following.')}
